.cart-container {
    padding: 20px;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.image-panier img {
    width: 200px;
    margin-right: 100px;
}

.product-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.product-title {
    font-size: 1.2em;
    margin: 0;
}

.product-title-quant {
    font-size: 1.2em;
    margin: 0;
    margin-right: 10px;
}

.quantity-controls {
    display: flex;
    align-items: center;
}

.quantity-button {
    padding: 5px 10px;
    font-size: 16px;
    margin-right: 5px;
    margin-left: 5px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
}

.quantity-button:hover {
    background-color: #e0e0e0;
}

.product-price {
    color: #888;
    margin-top: 5px;
}

.remove-button {
    background: none;
    border: none;
    color: #888;
    cursor: pointer;
    font-size: 1.5em;
    padding: 0;
    margin-right: 20px;
    margin-left: 200px;
}

.remove-button:hover {
    color: #f00;
}

.checkout {
    text-align: right;
    margin-top: 20px;
}

.checkout-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
}

.checkout-button:hover {
    background-color: #0056b3;
}

.title-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 3%;
}

.total-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    border-top: 1px solid #ddd;
}