.CategoriesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 20px;
  padding: 20px;
}

.category-card {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  background-color: #f9f9f9;
  flex-direction: column;

}

.category-card h3 {
  margin-bottom: 10px;
}

.category-card button {
  padding: 10px 15px;
  background-color: rgb(212, 135, 34);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 4%;
  margin-bottom: 3%;
}

.category-card button:hover {
  box-shadow: 0 8px 12px rgba(255, 255, 255, 0.5);
  transform: translateY(-2px);
}

.category-card button:active {
  background-color: rgba(0, 0, 0, 0.500);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transform: translateY(2px);
}

.Title-Product {
  margin-right: 20%;
}

.Filters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.Filter {
  display: flex;
  flex-direction: column;
}

.Filter h3 {
  margin-bottom: 5px;
  font-size: 16px;
}

.Filter select {
  width: 200px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}